body{
    font-family: 'Red Hat Display-Bold', sans-serif;
    background: linear-gradient(to right, white,rgb(218, 149, 160));
}
h1{
    font-weight:900;
}
.flex-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.flex-wrapper div{
    display: flex;
    flex-direction: row;
}

.grid-wrapper{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    padding:50px;
    text-align: center;
}
img{
    max-width:100%;
    height:auto;
    width:auto;
}
.btn {
    background: white;
    border-radius: 20px;
    border:1px solid rgb(218, 149, 160);
    font-family: 'Montserrat-Bold',sans-serif;
    color: black;
    font-size: 1.2rem;
    padding: 0px 90px 0px 90px;
    text-decoration: none;
    margin-bottom:10px;
  }
  
  .btn:hover {
    background: rgb(218, 149, 160);
    background-image: -webkit-linear-gradient(top, rgb(218, 149, 160), rgb(218, 149, 160));
    background-image: -moz-linear-gradient(top, rgb(218, 149, 160), rgb(218, 149, 160));
    background-image: -ms-linear-gradient(top, rgb(218, 149, 160), rgb(218, 149, 160));
    background-image: -o-linear-gradient(top, rgb(218, 149, 160), rgb(218, 149, 160));
    background-image: linear-gradient(to bottom, rgb(218, 149, 160), rgb(218, 149, 160));
    text-decoration: none;
  }
#footer{
    text-align: center;
    padding:10px 0 0 0 ;
}
.social{
    color:black;
}

.social:hover{
    color:rgb(218, 149, 160);
}





